/* 폰트 가져오기 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Tailwind CSS 설정 */
@layer base {
    body {
        font-family: 'Noto Sans KR', sans-serif;
    }
    h1 {
        @apply xl:text-9xl text-9xl;
        font-family: 'establishRoomNo703OTF', sans-serif; /* 스스로넷 칠백삼 폰트 적용 */
    }
    h2 {
        @apply xl:text-5xl text-4xl;
        font-family: 'Noto Sans KR', sans-serif; /* Noto Sans 폰트 적용 */
    }
}

#Main_Grid {
    display: grid;

    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'a a c b'
        'a a e f';
}

#Main_Grid div:nth-child(1) {
    grid-area: a;
}
#Main_Grid div:nth-child(2) {
    grid-area: b;
}
#Main_Grid div:nth-child(3) {
    grid-area: c;
}
#Main_Grid div:nth-child(4) {
    grid-area: e;
}
#Main_Grid div:nth-child(5) {
    grid-area: f;
}
#Carousel Button {
    display: none;
}
@media screen and (min-width: 1918px) {
    #hidden_img {
        display: block;
    }
}
@media screen and (max-width: 1280px) {
    #Main_Grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'a a a a'
            'a a a a'
            'b b c c'
            'd d e e';
    }

    #Main_Grid div:nth-child(1) {
        grid-area: a;
    }
    #Main_Grid div:nth-child(2) {
        grid-area: b; /* 'b'에 해당하는 영역 추가 */
    }
    #Main_Grid div:nth-child(3) {
        grid-area: c;
    }
    #Main_Grid div:nth-child(4) {
        grid-area: d; /* 'd'에 해당하는 영역 추가 */
    }
    #Main_Grid div:nth-child(5) {
        grid-area: e;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
